body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2b2b2b;
    padding: 20px;
    text-align: center;
    color: #d4af37; /* Dourado */
}

header h1 span {
    color: #b76e79; /* Rosê Gold */
}

.carousel {
    position: relative;
    max-width: 60%;
    margin: 50px auto;
    overflow: hidden;
    border: 5px solid #d4af37; /* Borda dourada */
    border-radius: 10px;
}

.carousel-inner img {
    width: 50%; /* Reduz as imagens para 50% do tamanho original */
    display: none;
    margin: 0 auto;
    border-radius: 10px;
}

.carousel-inner img:first-child {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 3px 0 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.special-message {
    text-align: center;
    margin: 50px 20px;
}

.special-message h2 {
    color: #b76e79;
}

.special-message p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}

.gif-container {
    text-align: center;
    margin-top: 30px;
}

.gif-container img {
    max-width: 25%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #2b2b2b;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .carousel-inner img {
        width: 75%; /* Ajusta o tamanho das imagens em telas menores */
    }
}

@media (max-width: 480px) {
    .carousel-inner img {
        width: 90%; /* Ajusta o tamanho das imagens em dispositivos móveis */
    }

    .prev, .next {
        padding: 12px;
        font-size: 16px;
    }

    .special-message p {
        font-size: 16px;
    }
}

